h1 {
    color: rgb(53, 53, 4) ;
    font-family: sans-serif;
    }
    p {
        font-weight: 600;
    }
    body {
        font-size: 16px;
    }
    p {
        font-size: 3em;
    }
    .amarelo {
        color: yellow;
    }