.super-mario {
    width: 100px;
    position: absolute;
  }
  
  .goomba {
    width: 100px ;
 position: absolute;
 top: 250px;
    
  }
  
  .baloon {
    position: absolute;
    left: 300px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    left: 320px;
    z-index:1;
    top: 130px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 250px;
left: 500px ;
  }